
src/main/java/etc/one/TestMain.java
src/main/java/etc/TestMain.java
src/main/java/etc/TestMain2.java

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

.classpath
.project
.settings/

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
